body{ 
    font: normal 80%  Arial, "Lucida Grande", sans-serif;
    background: #E8EBEF repeat-x;
    color: #000;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
    min-width:1024px;
    width:100%;
}

.Title{
background: rgba(255,244,87,1);
background: -moz-linear-gradient(top, rgba(255,244,87,1) 0%, rgba(255,221,79,1) 37%, rgba(255,199,72,1) 73%, rgba(255,183,66,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,244,87,1)), color-stop(37%, rgba(255,221,79,1)), color-stop(73%, rgba(255,199,72,1)), color-stop(100%, rgba(255,183,66,1)));
background: -webkit-linear-gradient(top, rgba(255,244,87,1) 0%, rgba(255,221,79,1) 37%, rgba(255,199,72,1) 73%, rgba(255,183,66,1) 100%);
background: -o-linear-gradient(top, rgba(255,244,87,1) 0%, rgba(255,221,79,1) 37%, rgba(255,199,72,1) 73%, rgba(255,183,66,1) 100%);
background: -ms-linear-gradient(top, rgba(255,244,87,1) 0%, rgba(255,221,79,1) 37%, rgba(255,199,72,1) 73%, rgba(255,183,66,1) 100%);
background: linear-gradient(to bottom, rgba(255,244,87,1) 0%, rgba(255,221,79,1) 37%, rgba(255,199,72,1) 73%, rgba(255,183,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff457', endColorstr='#ffb742', GradientType=0 );
    
    border-color: #556FA2;
    border-width: 1px;
    border-style: solid;
    border-top: none;
    
}

.Title h1{
    font-size: 700%;
    color: #233F91;
    margin-bottom: 0px;
    height: 84px;
}

.Title h2{
    font-size: 200%;
    color: #233F91;
    margin-bottom:5px;
}
.Title img{
    vertical-align: 1px;
    padding-left: 10px;
}

.Title ul{
    list-style-type:none;
    padding-bottom:10;
}

.Title a{
    font-style: normal;
    color:  #233F91;
    text-decoration: none;
    font-size: 20px

}

.Title li{
    display: inline;
    border: 20px;
    text-align: center;
    padding-right: 23px;

}

.Content{
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;
}

.Content a{
    text-decoration: none;
}

.Content p{
    font-size: 130%;
    margin-top: 8px;
}

.Content h2 {
    font-size: 200%;
    margin:0px;
}

.Content h3 {
    font-size: 180%;
}

.Content h4{
    font-size: 150%;
    margin-bottom: 0px;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: separate;
    outline: none;
}
th, td {
    padding: 18px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th	{
    background-color: black;
    color: white;
}


.Footer{
    margin: 20px;
    width: 600px;
    position: relative;
    text-align: justify;
    font-size: 140%;
    color: #233F91;
}

.Footer_Wrapper{
     border-color: #556FA2;
    border-width: 1px;
    border-style: solid;
    
background: rgba(255,244,87,1);
background: -moz-linear-gradient(top, rgba(255,244,87,1) 0%, rgba(255,221,79,1) 37%, rgba(255,199,72,1) 73%, rgba(255,183,66,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,244,87,1)), color-stop(37%, rgba(255,221,79,1)), color-stop(73%, rgba(255,199,72,1)), color-stop(100%, rgba(255,183,66,1)));
background: -webkit-linear-gradient(top, rgba(255,244,87,1) 0%, rgba(255,221,79,1) 37%, rgba(255,199,72,1) 73%, rgba(255,183,66,1) 100%);
background: -o-linear-gradient(top, rgba(255,244,87,1) 0%, rgba(255,221,79,1) 37%, rgba(255,199,72,1) 73%, rgba(255,183,66,1) 100%);
background: -ms-linear-gradient(top, rgba(255,244,87,1) 0%, rgba(255,221,79,1) 37%, rgba(255,199,72,1) 73%, rgba(255,183,66,1) 100%);
background: linear-gradient(to bottom, rgba(255,244,87,1) 0%, rgba(255,221,79,1) 37%, rgba(255,199,72,1) 73%, rgba(255,183,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff457', endColorstr='#ffb742', GradientType=0 );
}
